{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2>Adicionar Vaga</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="job_title">Nome da Vaga</label>
      <input type="text" id="job_title" name="job_title" class="form-control">
    </div>
    <div class="form-group">
      <label for="salary_range">Faixa Salarial</label>
      <select id="salary_range" name="salary_range" class="form-control">
        <option value="">Selecione a faixa salarial</option>
        <option value="up_to_1000">Até 1.000</option>
        <option value="1000_to_2000">De 1.000 a 2.000</option>
        <option value="2000_to_3000">De 2.000 a 3.000</option>
        <option value="above_3000">Acima de 3.000</option>
      </select>
    </div>
    <div class="form-group">
      <label for="requirements">Requisitos</label>
      <textarea id="requirements" name="requirements" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="minimum_education">Escolaridade Mínima</label>
      <select id="minimum_education" name="minimum_education" class="form-control">
        <option value="">Selecione a escolaridade mínima</option>
        <option value="fundamental">Ensino fundamental</option>
        <option value="medio">Ensino médio</option>
        <option value="tecnologo">Tecnólogo</option>
        <option value="superior">Ensino Superior</option>
        <option value="pos_mba_mestrado">Pós / MBA / Mestrado</option>
        <option value="doutorado">Doutorado</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar Vaga</button>
  </form>
</div>
{% endblock %}