<!DOCTYPE html>
<html>

<head>
  <title>Vagas Candidatadas</title>
</head>

<body>
  <h1>Vagas Candidatadas</h1>
  <ul>
    {% for application in applied_jobs %}
    <li>
      <h2>{{ application.job.title }}</h2>
      <p>Faixa Salarial: {{ application.job.get_salary_range_display }}</p>
      <p>Requisitos: {{ application.job.requirements }}</p>
      <p>Escolaridade Mínima: {{ application.job.get_minimum_education_display }}</p>
      <p>Data de Candidatura: {{ application.applied_at }}</p>
    </li>
    {% endfor %}
  </ul>
</body>

</html>