{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2>Vagas Disponíveis</h2>
  <ul class="list-group">
    {% for job in jobs %}
    <li class="list-group-item mb-3">
      <h3>{{ job.title }}</h3>
      <p><strong>Faixa Salarial:</strong> {{ job.get_salary_range_display }}</p>
      <p><strong>Requisitos:</strong> {{ job.requirements }}</p>
      <p><strong>Escolaridade Mínima:</strong> {{ job.get_minimum_education_display }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}