{% extends "base.html" %}

{% block content %}
<h1>Visualizar Vagas</h1>
<ul>
  {% for job in jobs %}
  <li>
    <h2>{{ job.title }}</h2>
    <p>Faixa Salarial: {{ job.get_salary_range_display }}</p>
    <p>Requisitos: {{ job.requirements }}</p>
    <p>Escolaridade Mínima: {{ job.get_minimum_education_display }}</p>
    <h3>Candidatos:</h3>
    <ul>
      {% for application in applications %}
      {% if application.job == job %}
      <li>{{ application.candidate.full_name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}